.topNav{
    padding: 1vw 5vw;
    position: sticky;
    top: 0;
    background-image: radial-gradient(red, black, black);
    background-size: 300% 300%;
    animation: AnimationName 30s ease infinite;
    z-index: 1;
}

@keyframes AnimationName {
    0%{background-position:0% 80%}
    50%{background-position:100% 80%}
    100%{background-position:0% 80%}
}

#xhayetFamilyLogo{
    height: 5vw;
    vertical-align: middle;
}

.largeWindow{
    font-family: Arial;
    font-size: 3.5vw;
    vertical-align: middle;
    margin-left: 5vw;
    margin-right: 35vw;
    position: relative;
    color: white;
}

.smallWindow{
    font-family: Arial;
    font-size: 3.5vw;
    vertical-align: middle;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    color: white;
}

.buttons{
    width: 2vw;
}

.blur{
    background-color: black;
    padding: 10px;
    filter: blur(5px);
    position: sticky;
    top:6.5vw;
    z-index: 1;
}

#lightsaberHandle{
    margin-left: 97.7vw;
    transform: scaleX(-1);
    height: 6vw;
    position: sticky;
    top: 2vw;
    z-index: 2;
    padding: 0;
    /* border: 3px solid brown; */
}

#scrollbar{
    width: 2%;
    height: 92.5%;
    padding: 0;
    margin: 0 0 0 auto;
    right: 0;
    top: 7vw;
    position: fixed;
    background-color: transparent;
    /* border: 3px solid lime; */
  }
  
#bar{
    margin: auto;
    width: 65%;
    height: 0%;
    background: linear-gradient(to right, red, white, red);
    box-shadow: 0px 10px 2vw red;
    border-radius: 1vw;
}